<div ng-hide="dataCount > 0">
    <p class="well">No data found in database !</p>
</div>

<div ng-show="dataCount > 0">

    <h2 class="sub-header">Sum of values by day</h2>

    <!-- Loading spinner -->
    <li ng-hide="loaded" class="list-unstyled sk-spinner sk-spinner-wandering-cubes">
        <div class="sk-cube1"></div>
        <div class="sk-cube2"></div>
    </li>

    <nvd3-line-chart
            data="sumByDay"
            showXAxis="true"
            showYAxis="true"
            xAxisTickFormat="xAxisTickFormat_Date_Format()"
            interactive="true"
            showLegend="true"
            tooltips="true"
            tooltipcontent="toolTipContentFunction()">
        <svg></svg>
    </nvd3-line-chart>

    <pre ng-show="loaded">{{ sumByDay }}</pre>
</div>