<script type="text/javascript">
    var stompClient = null;
    var intervalId = null;


    // Connect webSocket client
    function connect() {
        var socket = new SockJS('/percentage');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            //setConnected(true);
            console.log('Connected: ' + frame);
            stompClient.subscribe('/info/percentage', function (percentage) {
                showPercentage(percentage.body);
            });
        });
    }

    // Disconnect webSocket client
    function disconnect() {
        if (stompClient != null) {
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected");
    }

    // Request percentage value from server
    function sendRequest() {
        if (stompClient != null) {
            stompClient.send("/app/percentage");
        }
    }

    // Start requesting job percentage value
    function start() {
        connect();
        intervalId = setInterval(sendRequest, 1000);
    }

    // Display percentage value on DOM
    function showPercentage(message) {
        var response = document.getElementById('response');
        response.innerHTML = '';
        response.appendChild(document.createTextNode(message));

        var progressBar = document.getElementsByClassName('progress-bar')[0];
        progressBar.setAttribute("aria-valuenow", message);
        progressBar.style.width = message + "%";
    }
</script>

<h1 class="page-header">Dashboard</h1>

<div>
    <button type="submit" ng-show="!execution" class="btn btn-lg btn-primary" onclick="start();" ng-click="start()">
        Launch batch
    </button>
    <button type="submit" ng-show="execution" class="btn btn-lg btn-danger" onclick="disconnect();" ng-click="stop()">Stop batch</button>
    <button type="submit" ng-show="execution" class="btn btn-lg warning" ng-click="status()">Status batch</button>
</div>

<br/><br/>

<div class="progress" ng-show="execution">
    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 0%;">
        <span id="response"></span>%
    </div>
</div>

<br/><br/>

<div ng-hide="dataCount > 0">
    <p class="well">No data found in database !</p>
</div>