<table class="table table-striped">
    <thead>
    <tr>
        <th>Country</th>
        <th>Sum</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="country in countries">
        <td>{{data.country}}</td>
        <td>{{data.sum}}</td>
    </tr>
    </tbody>
</table>

<h2 class="sub-header">Data</h2>

<div class="table-responsive" tasty-table bind-resource-callback="getResource" bind-init="init">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Country</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in rows">
            <td>{{item.date | date:'MM/dd/yyyy'}}</td>
            <td>{{item.country}}</td>
            <td>{{item.value}}</td>
        </tr>
        </tbody>
    </table>
    <div tasty-pagination></div>
</div>